.App {
  font-family: sans-serif;
  text-align: center;
}
.full-width-image-wrapper {
  max-height: 50vh;
  overflow: hidden;
}
.full-width-image {
  width: 100%;
}

@media (min-width: 992px) {
  .full-width-image {
    transform: translateY(-25%);
  }
}

.overlay-text-wrapper {
  position: absolute;
  top: 05vh;
  width: 100vw;
  text-align: left;
}
.overlay-text {
  color: primary;
  font-size: 1.5em;
}
